@{
	ViewBag.Title = "About";
}

<h3>@ViewBag.Message</h3>

<p>
	This application was created for the second phase of my interview with the company Towers Watson, I was tasked to create an IoC(Inverson of Control) container.
	It is not typical or necessarily best practice to create your own IoC container. However, it was an excellent opportunity to dive deeper
	into the whys, hows and reasons for inversion of control, dependency injection and using IoC containers.
</p>
<p>
	As I am fairly new to some of these concepts, my first step in approaching this test was to become more familiar
	with the concpets of dependency injection so I could first wrap my brain around the why and the purpose of dependency injection and inversion of control.
	I then proceeded to spend the next four hours reading article on dependency injection and how the concpet of IoC is used in daily coding practices.
</p>
<p>
	My first stop was to head out to <a href="https://www.pluralsight.com/">Pluralsight</a> to see what video tutorials they had on IoC.
	I hit the jackpot with a great tutorial "Inversion of Control" by John Sonmez then followed by another awesome tutorial by John "Practical IoC with ASP.NET MVC 4".
	Now having had some theory explained, I was ready to find some code examples that I could make my own.
</p>
<p>
	Again, I was fortunate to find some great walk-throughs on creating IoC containers. To give credit where credit is due, here are the
	links to the two blogs, I used for the code for my IoC:<br/>
	<a href="https://timross.wordpress.com/2010/01/21/creating-a-simple-ioc-container/">Creating a Simple IoC Container by Tim Ross</a><br/>
	<a href="http://adventuresdotnet.blogspot.com/2009/09/creating-your-own-ioc-container.html">Creating Your Own IoC Container by Paul Irwin</a>
</p>
<p>
	Last but not least, was the blog by Sean McAlinden. After reading through his code on the IoC he created, the daylight began to break in my brain. For anyone, wanting to see a more elaborate IoC than what
	I have here, then check out his blog post: <a href="http://weblogs.asp.net/seanmcalinden/custom-ioc-container-for-dependency-injection-with-an-asp-net-mvc-website-usage-example">Custom IoC Container for Dependency Injection with an Asp.Net Mvc website usage example.</a>
</p>
<p>
	Most of all, I want to thank the team out at Towers Watson, for this great learning opportunity!
</p>